@import url('./style/fonts.css');
@import url('./style/animation.css');
@import url(./style/login.css);
@import url(./style/sign_up.css);
@import url(./style/aside.css);
@import url(./style/header.css);
@import url(./style/add-task.css);
@import url(./style/board.css);
@import url(./style/summary.css);
@import url(./style/privacy_policy.css);
@import url(./style/legal_notice.css);
@import url('./style/contacts.css');
@import url('./style/mobile-menu.css');
@import url(./style/header_mobile.css);
@import url(./style/add_task_mobile.css);
@import url(./style/legal_notice_mobile.css);
@import url(./style/privacy_policy_mobile.css);
@import url(./style/summary_mobile.css);


body {
    margin: 0;
    font-family: 'Inter' !important;
    background-color: #F6F7F8;
    height: 100vh;
}

.content-container {
    display: flex;
}

* {
    box-sizing: border-box;
}

.d-none {
    display: none !important;
}

.flex {
    display: flex;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

button:hover {
    cursor: pointer;
}

.w-232 {
    width: 232px;
}

.gap-3em {
    gap: 3em;
}

.gap-3 {
    gap: 3px;
}

.gap-8 {
    gap: 8px;
}

.gap-10 {
    gap: 10px;
}

.gap-13 {
    gap: 13px;
}

.gap-15 {
    gap: 15px;
}

.gap-16 {
    gap: 16px;
}

.gap-18 {
    gap: 18px;
}

.gap-28 {
    gap: 28px;
}

.gap-30 {
    gap: 30px;
}

.gap-32 {
    gap: 32px;
}

.gap-61 {
    gap: 61px;
}

.vh-100 {
    height: 100vh;
}

.vh-70 {
    height: 70vh;
}

.fontsize-16 {
    font-size: 16px;
    margin: 0;
}

.fontsize-20 {
    font-size: 20px;
    margin: 0;
}

.fontsize-21 {
    font-size: 21px;
    margin: 0;
}

.fontsize-24 {
    font-size: 24px;
    margin: 0;
}

.fontsize-27 {
    font-size: 27px;
    margin: 0;
}

.fontsize-47 {
    font-size: 47px;
    margin: 0;
}

.fontsize-61 {
    font-size: 61px;
    margin: 0;
}

.fontsize-64 {
    font-size: 64px;
    margin: 0;
}

.fontweight-400 {
    font-weight: 400;
}

.fontweight-600 {
    font-weight: 600;
}

.fontweight-700 {
    font-weight: 700;
}

.fontcolor-lightblue {
    color: #29abe2;
}

.fontcolor-darkblue {
    color: #2a3647;
}

.w-100pc {
    width: 100%;
}

.w-32 {
    width: 32px;
}

.w-160 {
    width: 160px;
}

.w-200 {
    width: 210px !important;
}

.w-252 {
    width: 252px !important;
}

.w-312 {
    width: 312px;
}

.w-504 {
    width: 504px;
}

.margin-0 {
    margin: 0;
}

.margin-left-100 {
    margin-left: -100px;
}

.margin-left-120 {
    margin-left: -120px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

