.content-right {
    padding-left: 232px;
    overflow-x: hidden;
}

.header-mobile-addTask{
    display: none;
}

.headline {
    position: relative;
    width: 278px;
    height: 73px;
    top: 105px;
    left: 96px;
    font-size: 61px;
    font-weight: 700;
}

.board1 {
    width: 100vw;
    position: relative;
    height: 70vw;
    padding-top: 96px;
}

.leftSide {
    position: relative;
    width: 440px;
    height: 376px;
    top: 105px;
    left: 96px;
}

.titleFrame {
    width: 440px;
    height: 96px;
}

.title {
    color: #2A3647;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    position: relative;
    top: 10px;
    display: flex;
}

.inputTitle {
    width: 440px;
    height: 64px;
}

.inputfieldSubtask,
.inputfieldTitle {
    width: 440px;
    height: 48px;
    border-radius: 10px;
    border-width: 1px;
    padding-top: 12px;
    padding-right: 21px;
    padding-bottom: 12px;
    padding-left: 21px;
    gap: 10px;
    background-color: #FFFFFF;
    border-color: #D1D1D1;
    border-style: solid;
}

.inputfieldTitle:focus {
    border-color: red;
}

#date:hover {
    cursor: pointer;
}

.inputfieldSubtask::placeholder,
.inputfieldTitle::placeholder {
    width: 398px;
    height: 24px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #D1D1D1;
}

.requiredTitle {
    display: none;
    width: 119px;
    height: 12px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14.4px;
}

.descriptionFrame {
    position: absolute;
    width: 440px;
    height: 168px;
    position: absolute;
    top: 112px;
}

.description {
    width: 440px;
    height: 24px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #2A3647;
    padding-top: 10px;

}

.inputfieldDescription {
    width: 440px;
    height: 136px;
}

.smallinputfieldDescription {
    width: 440px;
    height: 120px;
    border-radius: 10px;
    border-width: 1px;
    padding-top: 18px;
    padding-right: 16px;
    padding-bottom: 18px;
    padding-left: 16px;
    background-color: #FFFFFF;
    border-color: #D1D1D1;
    font-family: 'Inter' !important;
    overflow: hidden;
    resize: none;
}

.smallinputfieldDescription::placeholder {
    width: 408px;
    height: 24px;
    font-weight: 400;
    font-size: 20px;
    color: #D1D1D1;
}

.assignedToFrame {
    position: absolute;
    width: 440px;
    height: 80px;
    top: 296px;
    gap: 8px;
}

.assignedTo {
    width: 112px;
    height: 24px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #2A3647;
    padding-top: 10px;
}

.select {
    width: 440px;
    height: 53px;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    justify-content: space-between;
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-left: 16px;
    font-family: 'Inter' !important;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    background-color: white;
    border-color: rgba(209, 209, 209, 1);
    display: flex;
    justify-content: space-between;
}

.select:hover {
    cursor: pointer !important;
}

.selection {
    width: 440px;
    height: 53px;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    justify-content: space-between;
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-left: 16px;
    font-family: 'Inter' !important;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    background-color: white;
    border-color: rgba(209, 209, 209, 1);
    display: flex;
    justify-content: space-between;
}

.selection:hover {
    cursor: pointer !important;
}

.standardOption {
    position: relative;
    bottom: 19px;
}

.dropdownArrow {
    position: relative;
    width: 12.21px;
    height: 9px;
    top: 10px;
    left: 1.39px;
}

.showContactsToAssign {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    border: 1px solid rgba(95, 92, 92, 0.2);
    border-radius: 10px;
    border-top: none;
    max-height: 200px;
    overflow: auto;
    background-color: white;
}

.newcontact {
    display: flex;
    width: 100%;
    align-items: center;
}

.newcontact:hover {
    background-color: #D1D1D1;
    cursor: pointer;
}

.circle {
    margin-right: 30px;
    margin-left: 15px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    width: 59px;
    height: 51px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.circleSmall {
    margin-left: 5px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    width: 45px;
    height: 42px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.showChosenInitials {
    display: none;
}

.nameAndCheckbox {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.contactName {
    padding-right: 130px;
}

.checkBox {
    margin-right: 30px;
}

.checkBox:hover {
    cursor: pointer !important;
}

.star {
    color: rgb(255, 112, 112);
}

.svg {

    width: 1px;
    position: relative;
    left: 816.25px;
    border-width: 1px;
    transform-origin: center;
    transform: rotate(-0deg);
    bottom: 480px;
}

.vector {
    stroke: #D1D1D1;
    stroke-width: 1px;
}

.rightSide {
    position: relative;
    width: 440px;
    height: 416px;
    left: 632.25px;
    bottom: 290px;
}

.buttonsFrame {
    position: relative;
    top: 17px;
}

.smallButtonsFrame {
    display: flex;
    gap: 8px
}

.urgent,
.medium,
.low {
    width: 136px;
    height: 56px;
    border-radius: 10px;
    padding-top: 16px;
    padding-right: 10px;
    padding-bottom: 16px;
    padding-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-width: 0px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
}

.urgent:hover,
.medium:hover,
.low:hover {
    box-shadow: 0px 4px 4px 0px #0000001A;
}

.urgent,
.low {
    background-color: #FFFFFF;
}

.medium {
    color: #FFFFFF;
    background-color: rgba(255, 168, 0, 1);
}

.arrows {
    width: 20px;
    height: 14.51px;
}

.whiteArrow {
    display: none;
    bottom: 19px;
    right: 325px;
    width: 22px;
    height: 18px;
}

.whiteArrowLow {
    display: none;
    width: 22px;
    height: 18px;
}

.urgentText {
    width: 65px;
    height: 24px;
    font-family: 'Inter' !important;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.mediumText {
    width: 84px;
    height: 24px;
    font-family: 'Inter' !important;
    font-weight: 700;
    font-size: 21px;
    line-height: 25.2px;
}

.priomedium {
    display: none;
    bottom: 10px;
    display: flex;
    position: relative;
}

.lowText {
    width: 40px;
    height: 24px;
    font-family: 'Inter' !important;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.categoryFrame {
    width: 440px;
    height: 80px;
    position: relative;
    top: 20px;
}

.category {
    width: 98px;
    height: 24px;
    font-family: 'Inter' !important;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #2A3647;
    display: flex;
    padding-top: 10px;
}

.subtaskFrame {
    width: 440px;
    height: 80px;
    position: relative;
    top: 24px;
}

.subtask {
    width: 88px;
    height: 24px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    padding-top: 10px;
}

.subtaskPlus {
    position: absolute;
    right: 15px;
    bottom: 1px;
}

.subtaskPlus:hover {
    cursor: pointer;
}

/* CSS */
.newSubtask {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px; 
    height: 35px;
    background-color: transparent; 
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .newSubtask:hover {
    background-color: #ecebeb; /* Hintergrundeffekt beim Hover */
    cursor: pointer;
  }
  
  .subtaskInput {
    border: none;
    width: 100%;
    font-size: 16px;
    background-color: #ffffff; /* Weißer Hintergrund */
  }
  
  .subtaskInput:focus {
    outline: none;
  }
  
  .editsvg,
  .deletesvg {
    width: 20px;
    height: 20px;
  }
  
  .editsvg:hover,
  .deletesvg:hover {
    cursor: pointer;
    transform: scale(1.3); 
    background-color: #ccc;
    border-radius: 100%; 
    padding: 2px; 
  }
  
  .deleteAndEdit {
    display: flex;
    gap: 5px;
    padding-right: 5px;
    align-items: center;
  }
  
  .vectorSubtask {
    background-color: #aaa9a9;
    width: 1px;
    height: 18px;
    margin-top: 3px;
    margin-bottom: 1px;
    width: 2px;
  }
  
  .newSubtasks {
    height: 125px;
    width: 440px;
    overflow: auto;
  }
  
  .titleDIV {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  

.buttonsAndRequired{
    position: relative;
    display: flex;
    justify-content: space-between;
    bottom: 120px;
    padding-top: 25px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    gap: 16px;
    padding-right: 130px;
}

.clearBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    gap: 4px;
    padding: 16px;
    height: 56px;
    width: 110px;
    border-color: #2A3647;
    border-width: 1px;
}

.clearBtn:hover {
    cursor: pointer !important;
    cursor: pointer;
    border: 1px solid #29abe2;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.clear {
    width: 50px;
    height: 24px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #2A3647;
}

.createBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 183px;
    height: 56px;
    border-radius: 10px;
    padding: 16px;
    gap: 4px;
    background-color: #2A3647;
    border-width: 0px;
}

.createBtn:hover {
    cursor: pointer !important;
    transition: all 100ms ease-in-out !important;
    background-color: #29abe2;
    box-shadow: 0px 4px 4px 0px #00000040;
    border: none;
    cursor: pointer;
}

.create {
    width: 123px;
    height: 24px;
    font-weight: 700;
    font-size: 21px;
    line-height: 53, 2px;
    line-height: 25, 2px;
    color: #FFFFFF;
}

.requiredField {
    position: relative;
    left: 96px;
    width: 258px;
    height: 56px;
    font-weight: 400;
    font-size: 16px;
    padding-top: 30px;
}

.vector {
    position: absolute;
    left: 584.25px;
    width: 1px;
    height: 55px;
    top: 310px;
}

.vectorPic {
    height: 450px;
}

.mobile-menu {
    display: none !important;
}


    
    
