.headline {
    position: relative;
    width: 278px;
    height: 73px;
    top: 105px;
    left: 328px;
    font-size: 61px;
    font-weight: 700;
}

.board1{
    width: 100vw;
    position: relative;
    height: 70vw;
    padding-top: 96px;
}
.about-container {
    padding: 243px, 0px, 0px, 52px;
    justify-content: flex-end;
    position: relative;
    padding-top: 243px;
    padding-bottom: 52px;
}

.buttons {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: calc(995.25px - 232px);
    width: 309px;
    height: 56px;
    bottom: 60px;
}

.clearBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    gap: 4px;
    padding: 16px;
    height: 56px;
    width: 110px;
    border-color: #2A3647;
    border-width: 1px;
}

.clearBtn:hover {
    cursor: pointer !important;
}

.clear {
    width: 50px;
    height: 24px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #2A3647;
}

.createBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 183px;
    height: 56px;
    border-radius: 10px;
    padding: 16px;
    gap: 4px;
    background-color: #2A3647;
    border-width: 0px;
}

.createBtn:hover {
    cursor: pointer !important;
    transition: all 100ms ease-in-out !important;
}

.create {
    width: 123px;
    height: 24px;
    font-weight: 700;
    font-size: 21px;
    line-height: 53, 2px;
    line-height: 25, 2px;
    color: #FFFFFF;
}

.leftSide {
    position: relative;
    width: 440px;
    height: 376px;
    top: 105px;
    left: 327px;
}

.titleFrame {
    width: 440px;
    height: 96px;
}

.title {
    color: #2A3647;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    position: relative;
    top: 10px;
    display: flex;
}

.inputTitle {
    width: 440px;
    height: 64px;
}

.inputfieldTitle {
    width: 440px;
    height: 48px;
    border-radius: 10px;
    border-width: 1px;
    padding-top: 12px;
    padding-right: 21px;
    padding-bottom: 12px;
    padding-left: 21px;
    gap: 10px;
    background-color: #FFFFFF;
    border-color: #D1D1D1;
    border-style: solid;

}

.inputfieldTitle:hover {
    cursor: pointer !important;
}

.inputfieldTitle::placeholder {
    width: 398px;
    height: 24px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #D1D1D1;
}

.requiredTitle {
    display: none;
    width: 119px;
    height: 12px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14.4px;
}

.descriptionFrame {
    position: absolute;
    width: 440px;
    height: 168px;
    position: absolute;
    top: 112px;
}

.description {
    width: 440px;
    height: 24px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #2A3647;
    padding-top: 10px;

}

.inputfieldDescription {
    width: 440px;
    height: 136px;
}

.smallinputfieldDescription {
    width: 440px;
    height: 120px;
    border-radius: 10px;
    border-width: 1px;
    padding-top: 18px;
    padding-right: 16px;
    padding-bottom: 18px;
    padding-left: 16px;
    background-color: #FFFFFF;
    border-color: #D1D1D1;
    font-family: 'Inter' !important;
    overflow: hidden;
    resize: none;
}

.smallinputfieldDescription::placeholder {
    width: 408px;
    height: 24px;
    font-weight: 400;
    font-size: 20px;
    color: #D1D1D1;
}

.assignedToFrame {
    position: absolute;
    width: 440px;
    height: 80px;
    top: 296px;
    gap: 8px;
}

.assignedTo {
    width: 112px;
    height: 24px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #2A3647;
    padding-top: 10px;
}

.select {
    width: 440px;
    height: 53px;
    border-radius: 10px;
    border-width: 1px;
    justify-content: space-between;
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-left: 16px;
    border-color: #D1D1D1;
    font-family: 'Inter' !important;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
}

.select:hover {
    cursor: pointer !important;
}

.star {
    color: rgb(255, 112, 112);
}

.svg {

    width: 1px;
    position: relative;
    left: 816.25px;
    border-width: 1px;
    transform-origin: center;
    transform: rotate(-0deg);
    bottom: 480px;
}

.vector {
    stroke: #D1D1D1;
    stroke-width: 1px;
}

.rightSide {
    position: relative;
    width: 440px;
    height: 416px;
    left: 864.25px;
    bottom: 290px;
}
.buttonsFrame{
    position: relative;
    top: 17px;
}
.smallButtonsFrame {
    display: flex;
    gap: 8px
}

.urgent,
.medium,
.low {
    width: 136px;
    height: 56px;
    border-radius: 10px;
    padding-top: 16px;
    padding-right: 10px;
    padding-bottom: 16px;
    padding-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-width: 0px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
}

.urgent,
.low {
    background-color: #FFFFFF;
}

.medium {
    color: #FFFFFF;
    background-color: orange;
}

.arrows {
    width: 20px;
    height: 14.51px;
}

.urgentText {
    width: 65px;
    height: 24px;
    font-family: 'Inter' !important;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.mediumText {
    width: 84px;
    height: 24px;
    font-family: 'Inter' !important;
    font-weight: 700;
    font-size: 21px;
    line-height: 25.2px;
}

.lowText {
    width: 40px;
    height: 24px;
    font-family: 'Inter' !important;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.categoryFrame {
    width: 440px;
    height: 80px;
    position: relative;
    top: 20px;
}

.category {
    width: 98px;
    height: 24px;
    font-family: 'Inter' !important;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #2A3647;
    display: flex;
    padding-top: 10px;
}

.subtaskFrame{
    width: 440px;
    height: 80px;
    position: relative;
    top: 24px;
}

.subtask{
    width: 88px;
    height: 24px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    padding-top: 10px;
}

.subtaskPlus{
    position: absolute;
    right: 20px;
    bottom: 1px;
}

.newSubtask{
    position: relative;
    left: 870px;
    bottom: 245px;
    height: 100px;
    width: 440px;
}

.requiredField{
    position: absolute;
    left: 328px;
    width: 170px;
    height: 27px;
    top: 926px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
}

.add-task-template {
    position: relative;
    background: white;
    width: 1116px;
    height: 870px;
    border-radius: 30px;
}

.headline-template {
    position: relative;
    width: 278px;
    height: 73px;
    top: 64px;
    left: 74px;
    font-size: 61px;
    font-weight: 700;
}

.left-side-template {
    position: relative;
    width: 440px;
    height: 376px;
    top: 74px;
    left: 74px;
}

.right-side-template {
    position: relative;
    width: 440px;
    height: 416px;
    left: 610.25px;
    bottom: 324px;
}

.required-field-template {
    position: absolute;
    left: 74px;
    width: 170px;
    height: 27px;
    top: 779px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
}

.buttons-template {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 716.25px;
    width: 334px;
    height: 56px;
    top: 750px;
    display: flex;
    gap: 4px;
}

.clear-button-template {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    gap: 4px;
    padding: 16px;
    height: 56px;
    width: 126px;
    border: 1px solid #2A3647;
    font-size: 20px;
}

.create-task-button-template {
    width: 183px;
    height: 54px;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    background: #2A3647;
    padding: 16px;
    border-radius: 10px;
    gap: 4px;
}

.create-task-button-template:hover {
    cursor: pointer;
}

.clear-button-template:hover {
    cursor: pointer;
}

.new-subtask-container {
    position: absolute;
    left: 620px;
    top: 632px;
    height: 100px;
    width: 440px;
}

.close-button-template {
    position: absolute;
    left: 1044px;
    top: 64px;
}

.close-button-template:hover {
    cursor: pointer;
}
