@media (min-width: 901px) and (max-width: 1315px){
    .rightSide{
        top: 210px;
        left: 96px;
    }

    .buttonsAndRequired{
        z-index: 2;
        top: 290px;
        padding-bottom: 35px;
        justify-content: flex-start;
    }
    .vector{
        display: none;
    }

    .requiredField{
        padding-top: 45px;
    }
}

@media (max-width: 900px) {
    .mobile-menu {
        display: flex !important;
        z-index: 99;
    }


    .aside-addtask{
        display: none;
    }

    .content-right {
        width: 100%;
        padding-left: 0px;
    }


    .userInitials {
        position: static;
    }

    .board1 {
        width: 100% !important;
        padding-top: 0px !important;
        height: 100%;
        position: relative;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
    }

    .headline {
        left: 0px;
        padding-left: 10px;
        width: 300px;
        position: relative;
        top: 10px;
    }

    .leftSide {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        left: 0px;
        padding-left: 10px;
        padding-right: 20px;
        position: relative;
        top: 10px;
    }

    .titleFrame {
        width: 100%;
    }

    .inputTitle {
        width: 100%;
    }

    .inputfieldTitle {
        width: 100% !important;
        margin-right: -25px;
    }

    .descriptionFrame {
        width: 100%;
        position: static;
    }

    .inputfieldDescription {
        width: 100%;
    }

    .smallinputfieldDescription {
        width: 100%;
    }

    .assignedToFrame {
        width: 100%;
        position: static;
    }

    .showContactsToAssign{
        z-index: 99;
    }

    .assigned {
        width: 100%;
    }

    .selection {
        width: 100%;
    }

    .description {
        width: 100%;
    }

    .rightSide {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        left: 0px;
        padding-left: 10px;
        padding-right: 20px;
        gap: 20px;
        position: relative;
        top: 30px;
        margin-bottom: 150px;
    }

    .buttonsFrame {
        width: 100%;
        position: static;
    }

    .title {
        width: 100%;
        position: static;
    }

    .smallButtonsFrame {
        width: 100%;
        justify-content: center;
    }

    .categoryFrame {
        width: 100%;
        position: static;
    }

    .select {
        width: 100%;
    }

    .subPlus {
        display: flex;
    }

    .subtaskPlus {
        position: static;
    }

    .subtaskFrame {
        width: 100%;
        position: static;
    }

    .newSubtask {
        width: 100%;
        position: static;
        padding-left: 10px;
        padding-bottom: 270px;
    }

    .buttonsAndRequired {
        position: fixed;
        bottom: 64px;
        width: 100%;
        background-color: rgba(246, 247, 248, 1);
        display: flex;
        align-items: center;
        height: 100px;
        padding-left: 10px;
        padding-right: 10px;
        z-index: 2;
    }

    .requiredField {
        position: static;
        padding-top: 0px;
    }

    .buttons {
        position: static;
        padding-right: 0px;
    }

    .clearBtn {
        display: none;
    }

    .vector {
        display: none;
    }
}

@media (min-width: 700px) and (max-width: 899px) {
    .header-addtask {
        left: 0px;
        width: 100%;
        padding-left: 5px;
        padding-right: 5px;
    }

    .headline{
        top: 150px;
    }
    
    .leftSide{
        top: 170px;
    }

    .showContactsToAssign{
        z-index: 1;
    }

    .rightSide{
        top: 220px;
        margin-bottom: 300px;
    }

    .buttonsAndRequired{
        z-index: 2;
    }
}

@media (max-width: 700px){
    .header-addtask{
        display: none;
    }

    .showContactsToAssign{
        z-index: 1;
    }

    .buttonsAndRequired{
        z-index: 2;
    }
}

