#task-deleted-container {
    position: absolute;
    right: calc(50% - 163px);
    bottom: calc(50% - 37px);
    z-index: 999;
    background: #2A3647;
    height: 74px;
    width: 326px;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    animation: slideInFromBottom 0.3s forwards;
}

.detailed-card-container {
    width: 525px;
    background: white;
    z-index: 999;
    padding: 48px 40px 48px 40px;
    border-radius: 30px;
    display: inline-block;
    animation: slideIn 0.2s ease-in-out;
    max-height: 800px;
    overflow: auto;
}

.detailed-card-title {
    font-size: 61px;
    font-weight: 700;
    width: 445px;
    display: flex;
    align-items: center;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2; 
    white-space: normal;
    word-wrap: break-word;
    margin-bottom: 24px;
}

.detailed-card-description {
    color: #000000;
    width: 445px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 5;
    font-size: 20px;
    font-weight: 400;
    word-wrap: break-word;
    margin-bottom: 24px;
}

.detailed-card-category {
    height: 36px;
    border-radius: 8px;
    padding: 4px 16px 4px 16px;
    color: white;
    font-size: 23px;
    font-weight: 400;
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.detailed-card-top-container {
    display: flex;
    justify-content: space-between;
}

.detailed-card-date {
    display: flex;
    gap: 25px;
    margin-bottom: 24px;
    font-size: 20px;
}

.detailed-card-priority {
    display: flex;
    gap: 42px;
    margin-bottom: 24px;
    font-size: 20px;
}

.detailed-card-assigned {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 20px;
}

.detailed-card-contact-container {
    display: flex;
    flex-direction: column;
    padding: 7px 16px 7px 16px;
    gap: 16px;
    margin-bottom: 24px;
    font-size: 19px;
}

.detailed-card-contact-item {
    display: flex;
    align-items: center;
    gap: 12px;
}

.detailed-card-subtasks-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 20px;
}

.check-box-container-subtasks {
    padding: 6px 16px 6px 16px;
    gap: 16px;
    width: 100%;
    height: 32px;
    align-items: center;
}

.checkbox-text {
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.check-box-container-subtasks:hover {
    background-color: #F4F4F4;
    border-radius: 10px;
    cursor: pointer;
}

.detailed-card-bottom {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 24px;
}

.detailed-card-delete-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.detailed-card-delete-container:hover {
    color: rgb(0, 124, 238);
    cursor: pointer;
}

.detailed-card-edit-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.detailed-card-edit-container:hover {
    color: rgb(0, 124, 238);
    cursor: pointer;
}

.detailed-card-priority-text {
    font-size: 19px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.priority-button-text {
    font-size: 20px;
}

.detailed-card-close-button {
    height: 32px;
    width: 32px;
}

.detailed-card-close-button:hover {
    cursor: pointer;
    background-color: lightgrey;
    border-radius: 100%;
}

.detailed-card-delete-container {
    cursor: pointer;
}

.detailed-card-container::-webkit-scrollbar {
    display: none;
}