
#board {
    width: calc(100vw - 232px);
    padding-top: 96px;
}

.side-bar-board {
    width: 232px;
}

.board-top {
    height: 232px;
    background-color: #F6F7F8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 64px;
    padding-right: 64px;
    max-width: 1440px;
}

.board-headline-container {
    display: flex;
    justify-content: space-between;
    height: 73px;
    width: 100%;
    align-items: center;
}

.board-headline {
    width: 176px;
    font-size: 61px;
    font-weight: 700;
    margin-block-start: 0;
    margin-block-end: 0;
}

.board-search-and-task-container {
    height: 48px;
    display: flex;
    gap: 32px;
    align-items: center;
    
}

.search-container {
    display: flex;
    height: 48px;
    border: 1px;
    padding: 8px 16px 8px 16px;
    width: 312px;
    gap: 10px;
    background: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #A8A8A8;
}

.search-container-inside {
    display: flex;
    width: 280px;
    justify-content: space-between;
}

#search {
    border: unset;
    flex: 1;
    font-size: 20px;
    outline: none;
}

#search:focus {
    border: none;
}

.search-button {
    background: white;
    border: none;
}

.search-image-container {
    display: flex;
    align-items: center;
    width: 48px;
    padding-left: 8px;
    border-left: 1px solid #D1D1D1;
    height: 31px;
}

.board-subheadlines {
    height: 24px;
    margin-top: -24px;
    padding-left: 64px;
    padding-right: 64px;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 26px
}

.subheadline-container {
    width: 244px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    color: #42526E;
    font-weight: 700;
    margin-bottom: 24px;
}

#add-task-button {
    width: 160px;
    height: 48px;
    border-radius: 10px;
    border: 1px;
    background: #2A3647;
    color: white;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    gap: 4px;
    align-items: center;
}

#add-task-button:hover {
    background-color: #29abe2;
    box-shadow: 0px 4px 4px 0px #00000040;
    border: none;
}

.add-task-img:hover {
    cursor: pointer;
}

.task-card {
    width: 252px;
    display: inline-block;
    padding: 16px;
    background: white;
    border-radius: 16px;
    gap: 10px;
}

.task-card:hover {
    cursor: pointer;
}

.board-content {
    margin-top: 16px;
    gap: 16px;
    display: flex;
    padding: 0px 64px 0px 64px;
    justify-content: space-between;
    max-width: 1440px;
}

.column {
    width: 246px;
    display: flex;
    gap: 24px;
    align-items: center;
    gap: 16px;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 16px;
    min-height: 50vh;
}

.no-tasks-container {
    width: 246px;
    height: 48px;
    border-radius: 10px;
    border: 1px dashed #A8A8A8;
    background: #E7E7E7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-container:focus-within {
    border: 1px solid #4589FF;
}

.subtasks-input-edit-card:focus-within {
    border: 1px solid #4589FF;
}

.no-tasks-text {
    color: #A8A8A8;
    font-size: 16px;
    font-weight: 400;
}

.task-category {
    max-width: 144px;
    height: 27px;
    border-radius: 8px;
    padding: 4px 16px 4px 16px;
    color: white;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px;
    display: inline-block;
}

.task-title {
    font-size: 16px;
    font-weight: 700;
    width: 220px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2; 
    white-space: normal;
    word-wrap: break-word;;
}

.task-description {
    color: #A8A8A8;
    width: 220px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
    margin-bottom: 24px;
    word-wrap: break-word;;
}

.task-subtasks-container {
    width: 220px;
    height: 16px;
    align-items: center;
    gap: 10px;
    display: flex;
    margin-bottom: 24px;
}

.task-progress-bar {
    width: 128px;
    height: 8px;
    border-radius: 8px;
    padding: 0px 64px 0px 64px;
    background-color: #F4F4F4;
    position: relative;
}

.task-progress-bar-progress {
    height: 8px;
    border-radius: 8px;
    position: absolute;
    left: 0;
}

.full {
    width: 128px;
    background-color: #4589FF;
}

.half-filled {
    width: 64px;
    background-color: #4589FF;
}

.task-subtasks-text {
    font-size: 12px;
    height: 14px;
}

.task-assigned-container {
    height: 32px;
    display: flex;
    width: 220px;
    position: relative;
}

.task-contacts-ellipse {
    width: 32px;
    height: 32px;
    border-radius: 45px;
}

.task-contacts-letters {
    color: white;
    font-size: 12px;
}

.task-card-bottom {
    display: flex;
    width: 220px;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
    padding-right: 10px;
}

.priority-img-card {
    position: absolute;
    right: 16px;
    bottom: 8px;
}

.priority-buttons-container-template {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 8px;
}

.priority-button:hover {
    box-shadow: 0px 4px 4px 0px #0000001A;
}

.priority-buttons-container {
    display: flex;
    position: relative;
    gap: 8px;
}

.drag-area-highlight {
    background-color: white;
}

.detailed-card-container {
    width: 525px;
    background: white;
    z-index: 999;
    padding: 48px 40px 48px 40px;
    border-radius: 30px;
    display: inline-block;
    animation: slideIn 0.2s ease-in-out;
    max-height: 800px;
    overflow: auto;
}

.detailed-card-title {
    font-size: 61px;
    font-weight: 700;
    width: 445px;
    display: flex;
    align-items: center;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2; 
    white-space: normal;
    word-wrap: break-word;
    margin-bottom: 24px;
}

.detailed-card-description {
    color: #000000;
    width: 445px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 5;
    font-size: 20px;
    font-weight: 400;
    word-wrap: break-word;
    margin-bottom: 24px;
}

.detailed-card-category {
    height: 36px;
    border-radius: 8px;
    padding: 4px 16px 4px 16px;
    color: white;
    font-size: 23px;
    font-weight: 400;
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.detailed-card-top-container {
    display: flex;
    justify-content: space-between;
}

.detailed-card-date {
    display: flex;
    gap: 25px;
    margin-bottom: 24px;
    font-size: 20px;
}

.detailed-card-priority {
    display: flex;
    gap: 42px;
    margin-bottom: 24px;
    font-size: 20px;
}

.detailed-card-assigned {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 20px;
}

.detailed-card-contact-container {
    display: flex;
    flex-direction: column;
    padding: 7px 16px 7px 16px;
    gap: 16px;
    margin-bottom: 24px;
    font-size: 19px;
}

.detailed-card-contact-item {
    display: flex;
    align-items: center;
    gap: 12px;
}

.margin-0 {
    margin-left: 0px;
}

.margin-8 {
    margin-left: -8px;
}

.detailed-card-subtasks-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 20px;
}

.check-box-container-subtasks {
    padding: 6px 16px 6px 16px;
    gap: 16px;
    width: 100%;
    height: 32px;
    align-items: center;
}

.checkbox-text {
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.check-box-container-subtasks:hover {
    background-color: #F4F4F4;
    border-radius: 10px;
    cursor: pointer;
}

.detailed-card-bottom {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 24px;
}

.detailed-card-delete-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.detailed-card-delete-container:hover {
    color: rgb(0, 124, 238);
    cursor: pointer;
}

.detailed-card-edit-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.detailed-card-edit-container:hover {
    color: rgb(0, 124, 238);
    cursor: pointer;
}

.detailed-card-priority-text {
    font-size: 19px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.priority-button-text {
    font-size: 20px;
}

.popup-board-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    opacity: 0;
    animation: fadeInOverlay 0.3s forwards;
}

.detailed-card-close-button {
    height: 32px;
    width: 32px;
}

.detailed-card-close-button:hover {
    cursor: pointer;
    background-color: lightgrey;
    border-radius: 100%;
}

.inputfield-title:focus {
    border-color: red;
}

#date-template:focus {
    border-color: red;
}

.add-task-template {
    background: white;
    width: 1116px;
    height: 870px;
    border-radius: 30px;
    animation: slideIn 0.2s ease-in-out;
    padding: 64px 74px 64px 74px;
}

.subtasks-template {
    border: none;
    outline: none;
    width: 100%;
    font-size: 20px;
}

.add-task-template-small-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.add-task-template-assigned-container {
    display: flex;
    flex-direction: column;
}

.add-task-text-field {
    font-size: 20px;
}

.edit-card-text-field {
    font-size: 20px;
    color: #2A3647;
}

.outer-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 136px;
}

.add-task-top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
}

.add-task-seperator {
    height: 424px; 
    width: 1px; 
    background-color: lightgrey
}

.headline-template {
    font-size: 61px;
    font-weight: 700;
}

.left-side-template {
    width: 440px;
    height: 376px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.right-side-template {
    width: 440px;
    height: 376px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.add-task-template-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.required-field-template {
    width: 170px;
    height: 27px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
}

.buttons-template {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 334px;
    height: 56px;
    display: flex;
    gap: 4px;
}

.clear-button-template {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    gap: 4px;
    padding: 16px;
    height: 56px;
    width: 126px;
    border: 1px solid #2A3647;
    font-size: 20px;
}

.create-task-button-template {
    width: 183px;
    height: 54px;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    background: #2A3647;
    padding: 16px;
    border-radius: 10px;
    gap: 4px;
    border: none;
}

.create-task-button-template:hover {
    background-color: #29abe2;
    box-shadow: 0px 4px 4px 0px #00000040;
    border: none;
}

.create-task-button-template:hover {
    cursor: pointer;
}

.clear-button-template:hover {
    cursor: pointer;
    border: 1px solid #29abe2;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.new-subtask-container {
    height: 100px;
    width: 440px;
}

.close-button-template {
    height: 32px;
    width: 32px;
}

.subtask-list-edit-card {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.close-button-template:hover {
    cursor: pointer;
    background-color: lightgrey;
    border-radius: 100%;
}

.detailed-card-delete-container {
    cursor: pointer;
}

.edit-card-container {
    width: 525px;
    background: white;
    z-index: 999;
    padding: 48px 40px 48px 40px;
    border-radius: 30px;
    display: flex;
    max-height: 700px;
    overflow-y: scroll;
    flex-direction: column;
    gap: 24px;
    overflow: auto;
}

.priority-container-edit-card {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.title-priority-edit-card {
    color: #2A3647;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    position: relative;
    top: 10px;
    display: flex;
}

.assigned-container-edit-card {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    gap: 8px;
}

.subtasks-container-edit-card {
    display: flex;
    gap: 12px;
    flex-direction: column;
    margin-bottom: -8px;
    font-size: 20px;
}

.edit-card-top {
    flex-direction: column;
    display: flex;
    gap: 8px;
    font-size: 20px;
}

.edit-card-top-container {
    display: flex;
    justify-content: space-between;
    height: 24px;
}

.edit-card-input-field {
    height: 36px;
    width: 440px;
    padding: 12px 21px 12px 21px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    font-size: 20px;
    color: black;
    font-family: 'Inter' !important;
}

#subtasks-edit-card {
    border: none;
    outline: none;
    width: 100%;
    font-size: 20px;
}

.plus-button-edit-card:hover {
    cursor: pointer;
}

.subtasks-input-edit-card {
    height: 48px;
    display: flex;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 10px;
    justify-content: space-between;
    padding-left: 21px;
    padding-right: 21px;
}

.edit-card-container::-webkit-scrollbar {
    width: 0; 
    height: 0; 
  }

.arrow-white {
    display: none;
    bottom: 19px;
    right: 325px;
    width: 22px;
    height: 18px;
  }

.arrow-white-medium {
    display: none;
    position: absolute;
    bottom: -2px;
    width: 22px;
    height: 18px;
  }

.edit-card-edit-container {
    display: flex;
    gap: 4px;
    align-items: center;
}

.subtask-container-edit-card {
    display: flex;
    justify-content: space-between;
    height: 32px;
    padding: 8px;
    border-radius: 10px;
    align-items: center;
}

.no-subtasks-container {
    padding: 7px 16px 7px 16px;
    gap: 16px;
    font-size: 16px;
}

.subtask-container-edit-card:hover {
    cursor: pointer;
    background-color: #F4F4F4;
}

.no-hover:hover {
    background-color: white;
}

.edit-container-edit-card {
    border-bottom: 1px solid #29abe2;
    border-radius: 0px;
}

.button-edit-card {
    border-radius: 10px;
    border: 0px;
    background: #2A3647;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 16px;
}

.button-edit-card:hover {
    background-color: #29abe2;
    box-shadow: 0px 4px 4px 0px #00000040;
    border: none;
}

.button-edit-card-text {
    color: white;
    font-size: 20px;
    font-weight: 700;
}

.form-edit-card {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.button-edit-card-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.edit-img-edit-card {
    height: 18px;
}

.subtask-input {
    border: none;
    width: 100%;
    font-size: 16px;
}

.subtask-input:focus {
    outline: none;
}

.edit-subtask-container {
    display: flex;
    height: 24px;
    justify-content: space-between;
    border-bottom: 1px solid #29abe2;
    padding: 8px;
    height: 32px;
}

.subtasks-img {
    height: 24px;
    width: 24px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subtasks-img:hover {
    cursor: pointer;
    background-color: lightgrey;
}

.plus-img-subtask:hover {
    cursor: pointer;
}

#task-added-container {
    position: absolute;
    right: calc(50% - 163px);
    bottom: calc(50% - 37px);
    z-index: 999;
    background: #2A3647;
    height: 74px;
    width: 326px;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    animation: slideInFromBottom 0.3s forwards;
}

#task-edited-container {
    position: absolute;
    right: calc(50% - 163px);
    bottom: calc(50% - 37px);
    z-index: 999;
    background: #2A3647;
    height: 74px;
    width: 326px;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    animation: slideInFromBottom 0.3s forwards;
}

#task-deleted-container {
    position: absolute;
    right: calc(50% - 163px);
    bottom: calc(50% - 37px);
    z-index: 999;
    background: #2A3647;
    height: 74px;
    width: 326px;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    animation: slideInFromBottom 0.3s forwards;
}

.assigned-contacts-container-edit-card {
    position: relative;
    justify-content: space-between;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 10px;
    border-top: none;
    max-height: 200px;
    overflow: auto;
    background-color: white;
    z-index: 100;
    display: flex;
    gap: 4px;
}

.assigned-contacts-edit-card {
    display: flex;
    align-items: center;
    gap: 14px;
    margin-bottom: 8px;
}

#show-chosen-initials {
    margin-top: 8px;
}

#show-chosen-initials-edit-card {
    margin-top: -8px;
    border-radius: 10px;
}

.detailed-card-container::-webkit-scrollbar {
    display: none;
}

.mobile-menu-board {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #2a3647;
    padding-left: 0;
    margin-bottom: 0;
    height: 80px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.position-helper-board-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board-headline-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

@media (max-width: 1501px) {
    .board-content {
        flex-wrap: wrap;
    }
}

@media (max-width: 1101px) {
    .board-headline-container {
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
        margin-bottom: 40px;
    }
}

@media (max-width: 901px) {
    .mobile-menu-board {
        display: flex;
    }
    .header-board {
        left: 0px;
        width: 100%;
    }
    #board {
        width: 100%;
    }
    .side-bar-board {
        width: 0;
        display: none;
    }
}

@media (min-width: 900px) {
    .side-bar-board {
        display: flex;
    }
    .mobile-menu-board {
        display: none;
    }
}

@media (max-width: 701px) {
    .edit-card-text-field {
        font-size: 16px;
    }
    .btn-urgent-low {
        width: 100% !important;
    }
    .btn-medium {
        width: 100% !important;
    }
    .priority-buttons-container {
        flex-direction: column;
    }
    .no-contacts-assigned-text {
        font-size: 14px;
    }
    .assigned-container-edit-card {
        font-size: 16px;
    }
    .priority-button-text {
        font-size: 16px;
    }
    .priority-button{
        font-size: 16px !important;
    }
    #img-urgent-btn {
        width: 16px;
    }
    #img-medium-btn{
        width: 16px;
    }
    #img-low-btn {
        width: 16px;
    }
    .subtask-list-edit-card {
        font-size: 14px;
    }
    .board-content {
        flex-direction: column;
        justify-content: center;
        padding: 0px 16px 16px 16px;
        gap: 26px;
        margin-bottom: 76px;
    }
    .header-board {
        padding: 20px, 16px, 20px, 16px;
    }
    .board-top {
        padding: 0px 16px 0px 16px;
        height: auto;
        margin-bottom: 26px;
    }
    .header-board {
        display: none;
    }
    .flex-wrapper-board {
        width: 100%;
    }
    .position-helper-board {
        width: 100%;
    }
    .column {
        min-height: auto;
    }
    #add-task-button {
        display: none;
        width: 0;
    }
    .board-search-and-task-container {
        width: 100%;
    }
    .add-task-button-mobile {
        display: flex;
    }
    .search-container {
        width: 100%;
    }
    .search-container-inside {
        width: 100%;
    }
    .board-headline {
        font-size: 47px;
    }
    #board {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 26px;
        padding-top: 26px;
    }
    #small-menu-mobile {
        top: 80px;
    }
    .position-helper-board-content {
        align-items: flex-start;
    }
    .subheadline-container {
        width: 100%;
    }
    .no-tasks-container {
        width: 100%;
    }
    .column {
        width: 100%;
        align-items: flex-start;
    }
    #card {
        width: 396px;
        max-height: 640px;
        padding: 32px 24px 32px 24px;
    }
    .detailed-card-category {
        font-size: 16px;
        padding: 4px 16px 4px 16px;
    }
    .detailed-card-title {
        font-size: 36px;
        width: 100%;
    }
    .detailed-card-description {
        font-size: 16px;
        width: 100%;
    }
    .detailed-card-date {
        font-size: 16px;
    }
    .detailed-card-priority {
        font-size: 16px;
    }
    .detailed-card-priority-text {
        font-size: 16px;
    }
    .detailed-card-assigned {
        font-size: 16px;
    }
    .detailed-card-subtasks-container {
        font-size: 16px;
    }
    .no-subtasks-container {
        font-size: 14px;
    }
    .checkbox-text {
        font-size: 14px !important;
    }
    .detailed-card-contact-container {
        font-size: 16px;
    }
    #search {
        font-size: 16px;
    }
    .edit-card-top {
        font-size: 16px;
    }
    .edit-card-input-field {
        width: 100%;
        font-size: 16px;
    }
    .title-priority-edit-card {
        font-size: 16px;
    }
    .subtasks-container-edit-card {
        font-size: 16px !important;
    }
    .standard-option-edit-card {
        font-size: 16px;
    }
    .priority-button {
        width: 100%;
    }
    #subtasks-edit-card {
        font-size: 16px;
    }
}

@media (min-width: 700px) {
    .header-mobile {
        display: none;
    }
    .add-task-button-mobile {
        display: none;
    }
}

@media (max-width: 1201px) {
    .add-task-template {
        overflow: scroll;
        width: 300px;
        padding: 32px 24px 32px 24px;
    }
    .inputfield-title {
        width: 100% !important;
    }
    .headline-template {
        font-size: 36px;
    }
    .outer-container {
        flex-direction: column;
        gap: 30px;
        justify-content: center;
        margin-bottom: 36px;
    }
    .add-task-seperator {
        display: none;
    }
    .left-side-template {
        width: 100%;
        height: auto;
    }
    .right-side-template {
        width: 100%;
        height: auto;
    }
    .add-task-text-field {
        font-size: 16px;
    }
    #assigned-template {
        font-size: 16px;
    }
    #category-template {
        font-size: 16px;
    }
    .add-task-template-bottom {
        align-items: flex-start;
        flex-direction: column;
        gap: 20px;
    }
    .buttons-template {
        width: 100%;
        justify-content: flex-end;
    }
    .clear-button-template {
        height: 48px;
        width: 98px;
        padding: 12px;
        font-size: 16px;
    }
    .create-task-button-template {
        height: 48px;
        width: 140px;
        font-size: 16px;
        padding: 12px;
    }
    .subtasks-template {
        font-size: 16px;
    }
    #title-template::placeholder {
        font-size: 16px;
    }
    #description-template::placeholder {
        font-size: 16px;
    }
    .new-subtask-container {
        height: auto;
        width: 100%;
    }
    .required-field-template {
        font-size: 12px;
        order: 1;
    }
    #task-added-container {
        right: calc(50% - 140px);
        width: 280px;
    }
    #task-deleted-container {
        right: calc(50% - 140px);
        width: 280px;
    }
    #task-edited-container {
        right: calc(50% - 140px);
        width: 280px;
    }
    .header-board {
        padding: 20px 40px 20px 64px;
    }
}

@media (max-width: 581px) { 
    .add-task-template {
        width: 396px;
    }
}

@media (min-width: 581px) and (max-width: 1201px) {
    .add-task-template {
        width: 480px;
    }
    .buttons-template {
        justify-content: flex-end;
    }
}

@media (max-width: 401px) {
    .add-task-template {
        width: 300px;
    }
    #card {
        width: 300px;
    }
}

.btn-medium {
    width: 136px;
    height: 56px;
    border-radius: 10px;
    padding: 16px 10px 16px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 20px;
    border-width: 0px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    background-color: rgb(255, 168, 0);
    color: white;
    font-weight: 700;
}

.btn-urgent-low {
    width: 136px;
    height: 56px;
    border-radius: 10px;
    padding: 16px 10px 16px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 20px;
    border-width: 0px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    background-color:white;
    color: black;
}

.overflow-hidden {
    overflow: hidden;
}

.new-contact {
    display: flex;
    width: 100%;
    align-items: center;
    border-radius: 10px;
}

.selection-edit-card {
    width: 100%;
    height: 53px;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    justify-content: space-between;
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-left: 16px;
    font-family: 'Inter' !important;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    background-color: white;
    border-color: rgba(209, 209, 209, 1);
    display: flex;
    justify-content: space-between;
}

.selection-edit-card:hover {
    cursor: pointer;
}

#date-edit-card:hover {
    cursor: pointer;
}

.new-contact:hover {
    cursor: pointer;
    background-color: #D1D1D1;
}

.inputfield-title {
    width: 440px;
    height: 48px;
    border-radius: 10px;
    border-width: 1px;
    padding-top: 12px;
    padding-right: 21px;
    padding-bottom: 12px;
    padding-left: 21px;
    gap: 10px;
    background-color: #FFFFFF;
    border-color: #D1D1D1;
    border-style: solid;
}

.inputfield-title::placeholder {
    width: 398px;
    height: 24px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #D1D1D1;
}

.show-contacts-to-assign-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 10px;
    border-top: none;
    max-height: 200px;
    overflow: auto;
    background-color: white;
}

.no-contacts-assigned-text {
    font-size: 16px;
    margin-left: 16px;
    padding: 8px;
}

.assigned-container-card {
    width: 180px;
    overflow-y: auto;
    display: flex;
}
