.body-contacts {
    overflow: hidden;
}

.contacts-section {
    display: flex;
    margin-left: 232px;
    margin-top: 96px;
}

.contacts-container {
    width: 456px;
    height: 928px;
}

.contacts-list-container {
    width: 400px;
    height: 100%;
    padding: 0px 24px 32px 24px;
    background-color: white;
}

.button-container {
    height: 101px;
    display: flex;
    align-items: center;
}

.add-contacts-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2A3647;
    width: 352px;
    height: 56px;
    padding: 12px 0px 12px 0px;
    border: 1px solid #2A3647;
    border-radius: 10px;
    gap: 16px;
    color: white;
    font-size: 21px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    cursor: pointer;
}

.add-contacts-btn:hover {
    background-color: #29abe2;
    box-shadow: 0px 4px 4px 0px #00000040;
    border: none;
}

.person-add-svg {
    width: 32px;
    height: 32px;
}

.list-container {
    padding-inline-start: 0;
    margin-block-start: 0;
    height: calc(100vh - (101px + 96px + 20px));
    overflow-y: auto;
    overflow-x: hidden;
}

/* Anpassungen für die Scrollleiste */
.list-container::-webkit-scrollbar {
    width: 8px;
    /* Breite der Scrollleiste */
}

.list-container::-webkit-scrollbar-track {
    background: white;
    /* Hintergrundfarbe der Track (der Bereich hinter der Scrollleiste) */
}

.list-container::-webkit-scrollbar-thumb {
    background: #A8A8A8;
    /* Farbe des Daumens (der bewegliche Teil der Scrollleiste) */
    border-radius: 5px;
    /* Abrundung des Daumens */
}

.contact-in-list {
    display: flex;
    align-items: center;
    width: 352px;
    height: 78px;
    padding: 15px 24px 15px 24px;
    border-radius: 10px;
    gap: 35px;
    cursor: pointer;
}

.contactActive {
    background-color: #2a3647;
    color: white;
}

.email-in-Contact-list {
    color: #007CEE;
}

.contact-in-list:hover {
    background-color: lightgrey;
}

.name-initials {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    border: 2px solid white;
    border-radius: 100%;
    background-color: orange;
    font-size: 12px;
    color: white;
}


.contacts-heading-container {
    display: flex;
    align-items: center;
    width: 575px;
    height: 73px;
    gap: 30px;
    margin-top: 55px;
}

.main-contact-heading {
    font-family: Inter;
    font-size: 61px;
    font-weight: 700;
    line-height: 73px;
    letter-spacing: 0em;
    text-align: left;
}

.seperator-contacts-heading {
    height: 59px;
    border: 3px solid #29ABE2;
}

.contact-subheading {
    font-size: 27px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
}

.view-contact-container {
    display: flex;
    flex-direction: column;
    width: 461px;
    height: 364px;
    margin-top: 52.5px;
    transform: translateY(0px);
    position: absolute;
    /* display: none; */
}

.view-contact-container-slide-in {
    display: block;
    animation: slideInContact 1.5s forwards;
}

@keyframes slideInContact {
    0% {
        left: 100%;
    }

    40% {
        left: 688px;
    }

    50% {
        left: 688px;
    }

    90% {
        left: 688px;
    }

    100% {
        left: 688px;
    }
}




.name-container {
    display: flex;
    align-items: center;
    gap: 54px;
    width: 461px;
    height: 120px;
    gap: 54px
}

.name-initials-container-view-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border: 3px solid white;
    border-radius: 100%;
    background-color: orange;
    font-size: 12px;
    color: white;
}

.name-initials-view-contact {
    font-size: 47px;
    font-weight: 500;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: center;
}

.name-view-contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 287px;
    height: 88px;
    gap: 8px;
}

.name-view-contact {
    font-size: 47px;
    font-weight: 500;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: left;
}

.edit-container-view-contact {
    display: flex;
}

.edit-icon-full-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 81px;
    height: 24px;
    gap: 8px;
    text-decoration: none;
    color: #2A3647;
    background-image: url('../assets/img/edit-dark-blue.svg');
    background-repeat: no-repeat;
    background-position: left;
}

.edit-icon-full-contact:hover {
    color: rgb(0, 124, 238);
    background-image: url('../assets/img/edit-light-blue.svg');
}

.delete-icon-full-contact {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 75px;
    height: 24px;
    gap: 8px;
    text-decoration: none;
    color: #2A3647;
    background-image: url('../assets/img/delete-dark-blue.svg');
    background-repeat: no-repeat;
    background-position: left;
}

.delete-icon-full-contact:hover {
    color: rgb(0, 124, 238);
    background-image: url('../assets/img/delete-light-blue.svg');
}


.contact-information-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.contact-information {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    width: 207px;
    height: 74px;
    margin-top: 21px;
}

.email-view-contact-container {
    width: 140px;
    height: 53px;
    margin-top: 21px;
}

.email-phone-heading-view-contact {
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
}

.email-view-contact {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #007CEE;
    padding-top: 15px;
}

.phone-noumber-view-contact {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    padding-top: 15px;
}

.confirmation-field {
    background-color: #2a3647;
    width: max-content;
    color: white;
    padding: 16px;
    border-radius: 10px;
    margin-top: 445px;
    position: absolute;
    display: none;
}

.confirmation-field-active {
    display: block;
    animation: slideInOut 1.5s forwards;
}

@keyframes slideInOut {
    0% {
        left: 100%;
    }

    40% {
        left: 688px;
    }

    50% {
        left: 688px;
    }

    90% {
        left: 688px;
    }

    100% {
        left: 100%;
    }
}





.d-none {
    display: none !important;
}

.dialog-add-bg {
    background-color: rgba(184, 185, 186, 0.5);
    z-index: 999;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    right: -100%;
    transform: translate(0, -50%);
    background: transparent;
    padding: 20px;
    transition: right 0.250s ease-in-out;
}

.dialog-edit-bg {
    background-color: rgba(184, 185, 186, 0.5);
    z-index: 999;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    background: transparent;
    padding: 20px;
    transition: right 0.250s ease-in-out;
}



.dialog {
    height: 500px;
    width: 90%;
    max-width: 1200px;
    background-color: white;
    border-radius: 24px;
    display: flex;
}

/* Keyframe-Animation: von rechts nach links gleiten */
@keyframes slideInFromRight {
    from {
        right: -100%;
        /* Startposition außerhalb des Bildschirms rechts */
    }

    to {
        right: 0;
        /* Endposition: Anzeige von rechts nach links */
    }
}

/* Keyframe-Animation: von links nach rechts gleiten */
@keyframes slideOutToRight {
    from {
        right: 0;
        /* Startposition: Anzeige von rechts nach links */
    }

    to {
        right: -200%;
        /* Endposition: Außerhalb des Bildschirms rechts */
    }
}

.information-container {
    background-color: #2b3647;
    padding: 66px 48px 66px 48px;
    width: 467px;
    height: 100%;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    color: white;
    min-width: max-content;
}

.img-blue-line {
    margin-top: 8px;
}

.information-logo-icon {
    width: 55.6px;
    height: 66.48px;
}

.information-text-container {
    display: flex;
    flex-direction: column;
    color: white;
}

.heading-information-text {
    font-size: 61px;
    font-weight: 700;
    line-height: 73px;
    letter-spacing: 0em;
}

.subheading-information-text {
    font-size: 27px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
}

.logo-container {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding-left: 40px;
}

.add-container {
    width: 100%;
    padding-right: 48px;
}

.close-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 32px;
}

.closeDialog {
    cursor: pointer;
}

.closeDialog:hover {
    background-color: lightgrey;
    border-radius: 100%;
}

.person-icon-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.person-icon-content {
    background-color: #D1D1D1;
    border-radius: 100px;
    padding: 38.67px;
}

.add-information-container {
    width: 422px;
}

.add-information-overview-container {
    display: flex;
    align-items: center;
    margin-top: 32px;
    justify-content: space-between;
    padding-left: 8px;

}

.input-container {
    display: flex;
    flex-direction: column;
    width: 422px;
    height: 215px;
    gap: 32px;
}

.input-add-information {
    height: 50px;
    padding: 13px 21px 13px 21px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    padding-left: 16px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
}

.input-icon {
    text-align: left;
    background-repeat: no-repeat;
    background-size: 24px;
    box-sizing: border-box;
    background-position: right 10px center;
}

#name-input-field-add-contact {
    background-image: url(/assets/img/person-grey.svg);
}

#email-input-field-add-contact {
    background-image: url(/assets/img/mail-grey.svg);
}

#phone-input-field-add-contact {
    background-image: url(/assets/img/call-grey.svg);
}

.add-contacts-btn-container {
    display: flex;
    gap: 24px;
    margin-top: 32px;
}

.cancel-btn {
    display: flex;
    align-items: center;
    width: 126px;
    height: 56px;
    padding: 16px;
    border-radius: 10px;
    gap: 4px;
    border: 1px solid #2A3647;
    background-color: white;
}

.cancel-btn:hover {
    border: 1px solid #29abe2;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.cancel-btn-text {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    color: #2A3647;
}

.icon-in-btn {
    width: 24px;
    height: 24px;
}

.create-contact-btn {
    display: flex;
    align-items: center;
    width: 214px;
    height: 57px;
    padding: 16px;
    border-radius: 10px;
    gap: 4px;
    background-color: #2A3647;
    border: none;
}

.create-contact-btn:hover {
    background-color: #29abe2;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.create-contact-btn-text {
    font-size: 21px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    color: white;
}


.initals-field-edit-contact {
    background-color: orange;
    border-radius: 100px;
    padding: 38.67px;
    font-size: 47px;
    font-weight: 500;
    line-height: 56.4px;
    text-align: center;
    color: white;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.save-edit-contact-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 111px;
    height: 57px;
    padding: 16px;
    border-radius: 10px;
    gap: 4px;
    background-color: #2A3647;
    border: none;
}

.save-edit-contact-btn:hover {
    background-color: #29abe2;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.save-edit-contact-btn-text {
    font-size: 21px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    color: white;
}

.delete-edit-contact-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 113px;
    height: 56px;
    padding: 16px;
    border-radius: 10px;
    gap: 4px;
    border: 1px solid #2A3647;
    background-color: white;
}

.delete-edit-contact-btn:hover {
    border: 1px solid #29abe2;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.delete-edit-contact-btn-text {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    color: #2A3647;
}