header {
    position: fixed !important;
    left: 232px;
    display: flex;
    height: 96px;
    width: calc(100vw - 232px);
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px 20px 348px;
    background-color: #ffffff;
    box-shadow: -2px 0px 6px 0px rgb(0, 0, 0, 0.2);
    position: relative;
    z-index: 1;
}

.header-right {
    display: flex;
    align-items: center;
    width: 104px;
    height: 56px;
    gap: 16px;
}

.userInitials {
    color: rgba(41, 171, 226, 1);
    border-radius: 100%;
    position: fixed;
    right: 38px;
    width: 54px;
    height: 55px;
    border: 2px solid black; /* Border auf allen Seiten setzen */
}
