header {
    position: fixed !important;
    left: 232px;
    display: flex;
    height: 96px;
    width: calc(100vw - 232px);
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px 20px 348px;
    background-color: #ffffff;
    box-shadow: -2px 0px 6px 0px rgb(0, 0, 0, 0.2);
    position: relative;
    z-index: 1;
}

.header-right {
    display: flex;
    align-items: center;
    width: 104px;
    height: 56px;
    gap: 16px;
}

.userInitials {
    color: rgba(41, 171, 226, 1);
    background-color: #ffffff;
    border-radius: 100%;
    position: fixed;
    right: 38px;
    width: 54px;
    height: 55px;
    border: 2px solid black;
    font-size: 20px;
    font-weight: 700;
}

.userInitials:hover{
    background-color:#efeded;
}

.smallMenu {
    display: none;
    background-color: rgba(42, 54, 71, 1);
    position: absolute;
    width: 150px;
    height: 158px;
    top: 96px;
    right: 50px;
    padding: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    color: #ffffff;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}

.smallMenuLink{
    color: white; 
    text-decoration: none; 
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 150px;
    height: 35px;
    padding-left: 10px;
}

.smallMenuLink:hover{
    background-color: rgb(61, 80, 106);
}