@media (max-width: 900px) {
    .mobile-menu {
        display: flex !important;
        z-index: 99;
    }
    .sidebar-legalNotice{
        display: none;
    }

    .header-legalNotice{
            position: fixed;
            left: 0px;
            width: 100%;
            padding: 40px;
    }
}

@media (max-width: 699px){
    .header-legalNotice{
        display: none;
    }

    .container-position{
        margin-left: 20px;
        margin-right: 56px;
        margin-top: 0px
    }

    .legalHeadline{
        padding-top: 0px;
    }


}