.side-bar {
    height: 100vh;
    width: 232px;
    background-color: #2A3647;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.logo-white {
    width: 100.03px;
    height: 121.97px;
    margin-top: 64px;
}

.menu-container {
    flex-direction: column;
    display: flex;
    align-items: center;
    gap: 15px;
    height: 229px;
}

.link-container-sidebar {
    height: 46px;
    border-radius: 8px;
    padding: 8px 56px 8px 56px;
    display: flex;
    align-items: center;
    gap: 8px;
    color: white;
    text-decoration: none;
    justify-content: flex-start;
    width: 232px;
}

.about-container {
    height: 317px;
    width: 232px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 52px 0px;
    gap: 4px;
}

.icon-side-bar {
    width: 30px;
    height: 30px;
}

.links-about-container {
    color: #A8A8A8;
    text-decoration: none;
    padding: 8px
}

.frame-container {
    display: flex;
}

header {
    display: flex;
    height: 96px;
    width: calc(100vw - 232px);
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px 20px 348px;
    background-color: #ffffff;
    box-shadow: -2px 0px 6px 0px rgb(0, 0, 0, 0.2);
}

.header-headline {
    font-size: 20px;
}

.header-right {
    display: flex;
    align-items: center;
    width: 104px;
    height: 56px;
    gap: 16px;
}

