<section class="frame-container">
    <aside class="side-bar">
        <div>
            <img class="logo-white" src="assets/img/logo_white.png" alt="logo">
        </div>
        <div class="menu-container">
            <a class="link-container-sidebar"  href="#">
                <img class="icon-side-bar" src="./assets/img/summary.png" alt="">
                <span>Summary</span>
            </a>
            <a class="link-container-sidebar" href="#">
                <img class="icon-side-bar" src="./assets/img/add_task.png" alt="">
                <span>Add Task</span>
            </a>
            <a class="link-container-sidebar" href="#">
                <img class="icon-side-bar" src="./assets/img/board.png" alt="">
                <span>Board</span>
            </a>
            <a class="link-container-sidebar" href="#">
                <img class="icon-side-bar" src="./assets/img/contacts.png" alt="">
                <span>Contacts</span>
            </a>
        </div>
        <div class="about-container">
            <a class="links-about-container" href="">Privacy Policy</a>
            <a class="links-about-container" href="">Legal Notice</a>
        </div>
    </aside>
</section>