<aside class="side-bar">
    <div>
        <img class="logo-white" src="assets/img/logo_white.png" alt="logo">
    </div>
    <div class="menu-container">
        <a id="summary-aside" onclick="addBackgroundColor(0)" class="link-container-sidebar"  href="../summary.html">
            <img class="icon-side-bar" src="./assets/img/summary.png" alt="">
            <span>Summary</span>
        </a>
        <a id="addtask-aside" onclick="addBackgroundColor(1)" class="link-container-sidebar" href="../add_task.html">
            <img class="icon-side-bar" src="./assets/img/add_task.png" alt="">
            <span>Add Task</span>
        </a>
        <a id="board-aside" onclick="addBackgroundColor(2)" class="link-container-sidebar" href="../board.html">
            <img class="icon-side-bar" src="./assets/img/board.png" alt="">
            <span>Board</span>
        </a>
        <a id="contacts-aside" onclick="addBackgroundColor(3)" class="link-container-sidebar" href="../contacts.html">
            <img class="icon-side-bar" src="./assets/img/contacts.png" alt="">
            <span>Contacts</span>
        </a>
    </div>
    <div class="about-container">
        <a class="links-about-container" href="#">Privacy Policy</a>
        <a class="links-about-container" href="#">Legal Notice</a>
    </div>
</aside>