<div id="inner-dialog" class="dialog" onclick="doNotClose(event)">
    <div class="information-container">
        <img class="information-logo-icon" src="assets/img/logo-blue.svg" alt="">
        <span class="heading-information-text">Edit contact</span>
        <img class="img-blue-line" src="assets/img/blue-line.svg" alt="">
    </div>
    <div class="add-container">
        <div class="close-container">
            <img class="closeDialog" onclick="closeEditContactDialog()" src="assets/img/close.svg" alt="">
        </div>
        <div class="add-information-overview-container">
            <div class="person-icon-container">
                <div class="person-icon-content">
                    <img src="assets/img/person-white.svg" alt="">
                </div>
            </div>

            <div class="add-information-container">
                <form onsubmit="addContact(); return false">
                    <div class="input-container">
                        <input required type="text" id="name-input-field-edit-contact"
                            class="input-add-information input-icon" placeholder="Name" type="text">
                        <input required type="email" id="email-input-field-edit-contact"
                            class="input-add-information input-icon" placeholder="Email" type="text">
                        <input required type="number" id="phone-input-field-edit-contact"
                            class="input-add-information input-icon" placeholder="Phone" type="text">
                    </div>
                    <div class="add-contacts-btn-container">
                        <button class="delete-edit-contact-btn" type="button" onclick="deleteContact()">
                            <span class="delete-edit-contact-btn-text">Delete</span>
                        </button>

                        <button class="save-edit-contact-btn" onclick="saveEditContact()">
                            <span class="save-edit-contact-btn-text">Save</span>
                            <img class="icon-in-btn" src="assets/img/check.svg" alt="">
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>