<div class="fontsize-20">Kanban Project Management Tool</div>
<div class="header-right">
    <a href="../help.html">
        <img src="./assets/img/help.svg" alt="Alternative Text">
    </a>
    <button id="userInitials" class="userInitials" onclick="openSmallMenu()"></button>
    <div id="smallMenu" class="smallMenu">
        <a href="../privacy_policy.html" class="smallMenuLink">Privacy Policy</a>
        <a href="../legal_notice.html" class="smallMenuLink">Legal Notice</a>
        <a href="../index.html" class="smallMenuLink">Log out</a>
    </div>
</div>