<div class="header-mobile-container">
    <img src="./assets/img/logo_header_mobile.svg" alt="">
    <button id="user-initials-mobile" class="user-initials-mobile-header" onclick="openSmallMenuMobile()"></button>
    <div id="small-menu-mobile" class="smallMenu">
        <a href="..join/help.html" class="smallMenuLink">Help</a>
        <a href="../join/privacy_policy.html" class="smallMenuLink">Privacy Policy</a>
        <a href="../join/legal_notice.html" class="smallMenuLink">Legal Notice</a>
        <a href="../join/index.html" class="smallMenuLink">Log out</a>
    </div>
</div>