    <div class="login-container">
        <div class="login-headline-container">
            <h1 class="login-headline">Log in</h1>
            <div class="seperation-container-headline"></div>
        </div>
        <form class="login-form" onsubmit="loginUser(); return false">
            <div class="login-input-container">
                <input class="login-input-field" type="email" required placeholder="Email" id="inputEmail"
                    style="border: unset; width: 100%;">
                <img class="login-img-wrapper" src="/assets/img/mail_input.png" alt=""
                    style="width: 24px; height: 16px">
            </div>
            <div class="login-input-container">
                <input class="login-input-field" type="password" placeholder="Password" id="inputPassword"
                    style="border: unset; width: 100%;">
                <div class="login-img-wrapper"><img src="/assets/img/lock_input.png" alt=""
                        style="width: 16px; height: 21px;"></div>
            </div>
            <div class="remember-me-container">
                <div class="remember-me">
                    <input type="checkbox" class="remember-me-checkbox" id="remember-me-checkbox">
                    <span class="remember-me-text">Remember me</span>
                </div>
            </div>
            <div class="login-buttons-container">
                <button class="login-button-left" id="login-user-btn">Log in</button>
                <button type="button" class="login-button-right" onclick="loginGuest()">Guest Log in</button>
            </div>
        </form>
    </div>
    <div class="signup-container-mobile">
        <span class="sign-up-text-mobile">Not a Join user?</span>
        <button id="header-button" class="header-button" onclick="forwardingToSignup()">Sign up</button>
    </div>
    <div class="link-container">
        <a class="link" href="./privacy_policy.html">Privacy policy</a>
        <a class="link" href="./legal-notice.html">Legal notice</a>
    </div>
    <div class="link-container-mobile">
        <a class="link" href="./privacy_policy.html">Privacy policy</a>
        <a class="link" href="./legal-notice.html">Legal notice</a>
    </div>