<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body class="body-mobile-menu">
    
<menu class="mobile-menu">
    <a href="summary.html" class="link-menu-container actives-section-mobile">
        <img src="assets/img/summary-icon.svg" alt="summary-icon" class="mobile-menu-icon">
        <span>Summary</span>
    </a>
    <a href="board.html" class="link-menu-container">
        <img src="assets/img/board-icon.svg" alt="board-icon" class="mobile-menu-icon">
        <span>Board</span>
    </a>
    <a href="add_task.html" class="link-menu-container">
        <img src="assets/img/add-tasks-icon.svg" alt="add-tasks-icon" class="mobile-menu-icon">
        <span>Add Tasks</span>
    </a>
    <a href="contacts.html" class="link-menu-container">
        <img src="assets/img/contacts.png" alt="contacts-icon" class="mobile-menu-icon">
        <span>Contacts</span>
    </a>
</menu>





</body>
</html>