<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<menu>
    <a href="#">
        <img src="" alt="">
        <span>Summary</span>
    </a>
    <a href="#">
        <img src="" alt="">
        <span>Board</span>
    </a>
    <a href="#">
        <img src="" alt="">
        <span>Add Tasks</span>
    </a>
    <a href="#">
        <img src="" alt="">
        <span>Contacts</span>
    </a>
</menu>





</body>
</html>