<a href="summary.html" class="link-menu-container">
    <img src="assets/img/summary-icon-active.svg" alt="summary-icon" class="mobile-menu-icon">
    <span>Summary</span>
</a>
<a href="board.html" class="link-menu-container">
    <img src="assets/img/board-icon-active.svg" alt="board-icon" class="mobile-menu-icon">
    <span>Board</span>
</a>
<a href="add_task.html" class="link-menu-container">
    <img src="assets/img/add-tasks-icon-active.svg" alt="add-tasks-icon" class="mobile-menu-icon">
    <span>Add Tasks</span>
</a>
<a href="contacts.html" class="link-menu-container">
    <img src="assets/img/contacts-icon-active.svg" alt="contacts-icon" class="mobile-menu-icon">
    <span>Contacts</span>
</a>