<div class="contacts-heading-container">
    <div class="main-contact-heading">Contacts</div>
    <div class="seperator-contacts-heading"></div>
    <div class="contact-subheading">Better with a team</div>
</div>

<div class="view-contact-container d-none" id="view-contact-container">
    <div class="name-container">
        <div class="name-initials-container-view-contact">
            <div class="name-initials-view-contact" id="name-initials-view-contact">AM</div>
        </div>
        <div class="name-view-contact-container">
            <div class="name-view-contact" id="name-view-contact">Anton Mayer</div>
            <div class="edit-container-view-contact editIcon">
                <a href="#" class="edit-icon-full-contact">
                    Edit
                </a>
                <a href="#" class="delete-icon-full-contact">
                    Delete
                </a>
            </div>
        </div>
    </div>
    <div class="contact-information-container">
        <div class="contact-information">Contact Information</div>
        <div class="email-view-contact-container">
            <div class="email-phone-heading-view-contact">E-Mail</div>
            <div class="email-view-contact" id="email-view-contact">AntonMayer@gmail.com</div>
        </div>
        <div>
            <div class="email-phone-heading-view-contact">Phone</div>
            <div class="phone-noumber-view-contact" id="phone-noumber-view-contact">+49 1111 111 11
                1</div>
        </div>
    </div>
</div>
<div id="confirmation-field" class="confirmation-field">Contact successfully created</div>