<div class="contacts-heading-container">
    <div class="main-contact-heading">Contacts</div>
    <div class="seperator-contacts-heading"></div>
    <div class="contact-subheading">Better with a team</div>
    <div class="seperator-contacts-heading-mobile"></div>
</div>
<a href="#" class="arrow-back-contacts-mobile d-flex1080" id="arrow-back-contacts-mobile"
    onclick="closeContactMobile()">
    <img src="assets/img/blue-arrow.svg" alt="">
</a>
<div class="view-contact-container d-none" id="view-contact-container">
    <div class="name-container">
        <div class="name-initials-container-view-contact" id="name-initials-container-view-contact">
            <div class="name-initials-view-contact" id="name-initials-view-contact">AM</div>
        </div>
        <div class="name-view-contact-container">
            <div class="name-view-contact" id="name-view-contact">Anton Mayer</div>
            <div class="edit-container-view-contact editIcon">
                <a href="#" class="edit-icon-full-contact" onclick="showEditForm()">
                    Edit
                </a>
                <a href="#" class="delete-icon-full-contact" onclick="deleteContact()">
                    Delete
                </a>
            </div>
        </div>
    </div>
    <div class="contact-information-container">
        <div class="contact-information">Contact Information</div>
        <div class="email-view-contact-container">
            <div class="email-phone-heading-view-contact">E-Mail</div>
            <div class="email-view-contact" id="email-view-contact">AntonMayer@gmail.com</div>
        </div>
        <div>
            <div class="email-phone-heading-view-contact">Phone</div>
            <div class="phone-noumber-view-contact" id="phone-noumber-view-contact">+49 1111 111 11
                1</div>
        </div>
    </div>
</div>
<div id="confirmation-field" class="confirmation-field">Contact successfully created</div>
<button class="edit-contacts-btn-mobile" onclick="showEditMenuMobile(); doNotClose(event)">
    <img class="edit-contacts-btn-mobile-img" src="assets/img/mobile-edit-btn.svg" alt="">
</button>

<div class="edit-menu-mobile-contacts d-none d-flex1080" id="edit-menu-mobile-contacts" onclick="doNotClose(event)">
    <div class="edit-menu-mobile-contacts-row" onclick="showEditForm()"">
        <img src="assets/img/edit-dark-blue.svg" alt="">
        <span>Edit</span>
    </div>
    <div class="edit-menu-mobile-contacts-row" onclick="deleteContactMobile()">
        <img src="assets/img/delete-dark-blue.svg" alt="">
        <span>Delete</span>
    </div>
</div>